.bg-modal{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 	0, 0, 0.6);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.txt-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.txt-modal p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.txt-modal p:nth-child(2){
    cursor: pointer;
}